body{
	padding: 0;
	margin: 0;
	background: #F5F7F8;
	display: flex;
	flex-direction:column;

}
img{
	margin: 30px 0 0 40px;
	position:relative;
	animation:moviendo 2.3s linear infinite;
	
}
@keyframes moviendo{
	0%{bottom: 25px;}
	50%{bottom: 0px;}
	100%{bottom: 25px;}

}



h1{
	color: teal;
	text-align: center;
	margin: 10px;
}


.subtitle{
	background: steelblue;
	font-size: 23px;
	font-family: Lato;
	color: #eee;
	/*text-transform: uppercase;*/
	text-align: center;
	line-height: 3;

}
main{
	background:tomato;
	width: 80%;
	align-self:center;
	padding: 5px;
	
}
.elementos{
	
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;


}
.label{
	text-align: center;
	border-radius: 5px 5px 0 0;
background: peru;
line-height: 3;
}
.item{
	background: #ccc;
	width: 200px;
	
	border-radius: 5px;
	margin: 6px;
}




blockquote:hover{
	color: #fff;
	transform: scale(1.13);
}

footer{
	background: #ccc;
	padding: 25px;
	font-size: 19px;
}

